.well
	.h2.text-center
		Register your shop
	.row
		.col-md-6
			= simple_form_for @shop,  multiple: true do |f|
				= f.input :name
				= f.input :address, as: :text
				= f.input :description, as: :text
				= file_field_tag("images[]", type: :file, multiple: true)
				= f.button :submit
		.col-md-6